body {  
    background-image: url("../images/fondo2.png");                   
 }

.button{
	width: 200px;
 	margin: auto;
}

.title {
  	font-size: 150%;
  	color: #424242;
}

.cardTitle {
  	font-size: 130%;
  	color: #424242;
}
